@CHARSET "UTF-8";
body {
    padding-top: 51px;
    padding-bottom: 40px;
	padding-left:100px;
	padding-right:100px;
	/*background-color:#434a54;*/
	/*background: url('../images/bg4.png') no-repeat center fixed;background-size:100% 100%;*/
}
.bg{background:url(../images/bg1.jpg) no-repeat center fixed;background-size:100% 100%}
.gray{color:gray}
/* .bg{background:#434a54 no-repeat center fixed;background-size:80% 100%} */
.center{
	position: relative;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	align:center;
}

/*图窗样式*/
.top-nav{
		position: relative;
		clear: both;
		width: 100%;
		margin-top: 1em;
	}
	.top-nav ul{
		display:none;
	}
	.top-nav ul li {
		display:block;
	}
	.logo {
		margin-top: 1em;
	}
	.top-nav ul li a {
		width: 100%;
		margin:0;
		padding:0.7em 0;
		border-bottom:1px solid #EEE;
	}

/*-- top-grids --*/
.top-grids{
	padding:3.5em 0;
}
.top-grid{
	border:1px solid #EEE;
	padding:4em 0;
	transition:border-color 0.5s all;
}
.top-grid:hover{
	border-color:#19b5fe;
}
.top-grid h3{
	color: #2C3E50;
	font-size: 1.4em;
	text-transform: uppercase;
	margin: 0;
	padding: 0.7em 0 0.5em;
	font-weight: 900;
}
.top-grid p{
	color: #777;
	line-height: 1.5em;
	font-size: 0.875em;
	width: 90%;
	margin: 0 auto;
}
.top-grid span{
	width:64px;
	height:64px;
	display:inline-block;
	background:url(../images/top-icons.png) no-repeat 0px 0px;
}
.top-grid span.t-icon1{
	background-position:0px 0px;
}
.top-grid span.t-icon2{
	background-position: -84px 0px;
}
.top-grid span.t-icon3{
	background-position: -162px 0px;
}
.top-grid span.t-icon4{
	background-position: -242px 0px;
}

/*#contact-form*/

.contact-form-row{
	margin-bottom:1em;
}
.contact-form-row div{
	width: 32.6%;
	float: center;
	margin-right: 1%;
} 
.contact-form-row div span,.contact-form-row2  span{
	font-size:1.2em;
	color:#2C3E50;
	font-weight:700;
	text-transform:uppercase;
	display:block;
	padding:0 0 0.5em;
}
.contact-form-row div input[type="text"]{
	width:100%;
	padding:1em;	
	font-family: 'Droid Sans', sans-serif;
	border:1px solid #EEE;
	-webkit-appearance:none;
	outline:none;
	color:#777;
	transition:border-color 0.4s;
	-webkit-transition:border-color 0.4s;
	-moz-transition:border-color 0.4s;
	-o-transition:border-color 0.4s;
	-ms-transition:border-color 0.4s;
}
.contact-form-row div input[type="text"]:hover,.contact-form-row2 textarea:hover{
	color:#19b5fe;
	border-color:#19b5fe;
}
.contact-form-row div:nth-child(3){
	margin-right:0;
}
.contact-form-row2 textarea{
	width:100%;
	padding:1em;	
	font-family: 'Droid Sans', sans-serif;
	border:1px solid #EEE;
	-webkit-appearance:none;
	outline:none;
	color:#777;
	min-height:320px;
	resize:none;
	transition:border-color 0.4s;
	-webkit-transition:border-color 0.4s;
	-moz-transition:border-color 0.4s;
	-o-transition:border-color 0.4s;
	-ms-transition:border-color 0.4s;
}
.contact-form-row2 {
	margin-top:1em;
}
.contact-form input[type="submit"]{
	display: block;
	background: #2C3E50;
	padding: 0.7em 1em;
	font-size:1.2em;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 700;
	display: inline-block;
	margin-top: 1em;
	text-decoration: none;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	border:none;
	outline:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.contact-form input[type="submit"]:hover{
	background: #19b5fe;
}
/*contact form #*/


/*# slider*/
/*----slider----*/
.benner{
}
.img-slider{
}
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: center;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks_nav {
  	display:none;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	bottom: 6%;
	z-index: 999;
	right: 4.5%;
	padding: 0;
	margin: 0;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
   visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:15px;
  width:15px;
  display:inline-block;
  border:2px solid #FFF;
}
.callbacks_here a:after{
	border:2px solid #19b5fe;
}
/*-- slider-caption --*/
.slider-caption{
	position: absolute;
	top: 0;
	z-index: 999;
	left: 0%;
	top: 59%;
	background: rgba(25, 181, 254, 0.21);
	padding: 1em;
	width: 42%;
}
.slider-caption h1{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 3.5em;
	margin: 0;
	padding: 0;
	color:#FFF;
}
.slider-caption{

}
.slider-caption h1 span{
	color:#2C3E50;
}
.slider-caption p{
	color: #808080;
	font-weight: 100;
	font-size: 1em;
	width: 89%;
	line-height: 1.6em;
}
a.caption-btn{
	background:#2C3E50;
	padding:0.8em 1.2em;
	text-transform:uppercase;
	color:#FFF;
	font-weight:700;
	display:inline-block;
	margin-top:1em;
	text-decoration:none;
	font-size: 0.875em;
	border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
	-o-border-radius:0.5em;
	-ms-border-radius:0.5em;
}
a.caption-btn:hover{
	background:#19b5fe;
}

/* slider#*/

.linemargin{
	margin-bottom:10px;
}
